<div class="bids" id="<%= dom_id(bid)%>">
  <p id="comments-body">
    <strong><%= number_to_currency(bid.amount)%></strong> on <strong><%= (bid.created_at).strftime('%B %d, %Y') %></strong> 
  </p>
</div>

