<%= form_for [@list, @bid] do |f| %>
  <% if @bid.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @bid.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
	  <%= f.text_field :amount, class: "form-control", placeholder: "Enter an amount here"%>
	</div>
  <div>
    <%= f.submit "Bid !", class: "btn btn-success btn-xs", data: {disable_with: "Saving..."} %>
	</div>
<% end %>